
@import 'https://fonts.googleapis.com/css?family=Slabo+27px';

#indexhead{
    padding:0px;
    background-color:#aaa;
}
#defaulthead{
    background: url("../images/bgimg.gif") no-repeat center center;
    background-size: cover;
   
}
.jumbotron{
    padding:0px;
    margin:0px;
}
.blog-post p{
    font-size: 1.3em;
}
.well-inverse{

        background-color:#888;
        color: #eee;
}
ul{
    list-style-type: none;
}
.jumbotron .row .container .headerlogo{
    padding:0;
}
body{
    background-color: #eee;
    font-family: 'Slabo 27px', serif;
}
.text-muted{
    color:white;
    text-shadow: 0px 0px 1px #000;
}
.headerfreetrial{
    background: url("../images/bgimg.png") no-repeat center center;
    background-size: cover;
}